certifi==2024.2.2
charset-normalizer==3.3.2
customtkinter==5.2.2
darkdetect==0.8.0
decorator==4.4.2
idna==3.6
imageio==2.34.0
imageio-ffmpeg==0.4.9
numpy==1.26.4
packaging==24.0
pillow==10.2.0
proglog==0.1.10
pytube==15.0.0
requests==2.31.0
setuptools==69.2.0
tqdm==4.66.2
urllib3==2.2.1
